## Setting and determining variable types

In the first line, a *variable* `q` is set as the integer, 6. Python will automatically classify the variable's datatype based on the user's input if the datatype is not explicitly set. 

We can use the python function `print` to show the variable in standard output and the datatype

Run the code to see standard output

In [ ]:
#immutable data types
#int
q = 6
#string
w = "Hello there"
#float
e = 42.42
#tuples
r = (5,32.0)

#mutable data types
#list
#sets
#dictionary

#print variable type
print(w,"is",type(w))

Notice that the print statement prints the name of variable, and not `6`, and the datatype- `class int`

Following the commented out line - examine all of the variables and variable type outputs

In [ ]:
#Replace q with different variable letters
#print(q, type(q))

It is possible to force Python to change the data type of a variable using the functions in the *python method* column of **Table I**.

In [ ]:
#start with a float
t = 63.21
#convert to other data types
#y = str(t)
#print(y, type(y))

In [ ]:
print(w+"is"+type(w))

You can only *concatenate* strings with other strings. To combine into into one string, we use a `+`

## String manipulation

Biology data comes in 2 types - sequences and numbers

Python strings can be manipulated by several built-in functions. The most common are `strip`,`lower`,`upper`,`replace`, and `split`

These built in functions are used in the format `theString.function()`. Specifics are in **Table II**

Technical note on `strip`: it only strips the string of the *leading* and *trailing* characters specified.

In [ ]:
sequence = "\nATGCGATTTCAGATCT\n"
taxonomy = "D_0__Bacteria;D_1__Proteobacteria;D_2__Gammaproteobacteria;D_3__Betaproteobacteriales;D_4__Burkholderiaceae;D_5__Parasutterella"

Compare `sequence` before and after `.strip()`

In [ ]:
print(sequence+sequence)

In [ ]:
sequence = sequence.strip()
print(sequence+sequence)

Convert sequence using `upper`, `lower`, and `replace`

***Print the variable sequence in all lower case***

In [ ]:
#print without changing the variable

#create a new varialbe seq_lowercase

#change the variable sequence to be lower case

***Now convert your lower case sequences to upper case***

In [ ]:
#print current sequence state

#create an upper case version of seq_lowercase. call the variable seq_uppercase

We use replace to change elements of the string

`replace` formatting looks like string.replace('T','U')

***Use replace to change our DNA sequence into mRNA***

In [ ]:
#create a new variable called mrna using replace

`split` allows us to use a delimiter to convert our string into list (we will talk more about lists in Lesson 3)

***Split our taxonomy on various delimiters in the string***

In [ ]:
#use ; as delimiter
list1 = taxonomy.split(';')
print(list1)
#use D_ as delimiter

#use ;D_ as delimter

#use ;D_4__ as delimiter

While manipulating strings in python, there are special characters that the user needs to be aware of. These *escape characters* are listed in **Table III**

An *escape character* is a character or combination of characters that tells python to encode a format. 

As above when dealing with `strip` the `\n` escape character tells python to break the string and start a new line. 

We will concatenate two strings with the escape characters listed in **Table II** in a print statement. 

Run the cell below to set string1 and string2, using the first escape character as an example.

Edit the cells and rerun to go through the escape characters in **Table II**.

`\` in Python has a ability to force special characters to behavior like normal characters OR for a normal character to act as a special character. There is only a handful of these examples.

Notice that to print the escape character, it is enclosed in `r" "`. This runs a python function `repr()` which stops the escape character from doing its job within the string.

In [ ]:
string1='the escape character '+r"\'"
string2=' does\'TESTSTRING'
print(string1+string2)